@page
@model Assesment3.Pages.GetStudentsModel
@{
}
<div class="container">
    <form method="post">
        <table class="table">
            <tr>
                <td>studentId</td>
                <td>
                    <input type="text" asp-for="@Model.Student.studentId" />
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td>
                    <input type="text" asp-for="@Model.Student.name" />
                </td>
            </tr>
            <tr>
                <td>qualification</td>
                <td>
                    <input type="text" asp-for="@Model.Student.qualification" />
                </td>
            </tr>
            <tr>
                <td>skill</td>
                <td>
                    <input type="text" asp-for="@Model.Student.skill" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Register"  />
                </td>
            </tr>
        </table>
    </form>
    <h1>List of Students</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>studentId</th>
                <th>name</th>
                <th>qualification</th>
                <th>skill</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>@item.studentId</td>
                    <td>@item.name</td>
                    <td>@item.qualification</td>
                    <td>@item.skill</td>
                </tr>
            }
        </tbody>
    </table>
</div>